<div class="JSSample">
  <%= link_to 'Topへ戻る', javascripts_top_index_path %>

  <h1>オブジェクトとプロパティを知る</h1>
  <pre id="output21"></pre>

  <h1>windowオブジェクトを知る</h1>
  <pre id="output22"></pre>

  <h1>new演算子でオブジェクトを作る</h1>
  <pre id="output23"></pre>
</div>