<div class="JSSample">
  <%= link_to 'Topへ戻る', javascripts_top_index_path %>
  <div id="checkered"><%= asset_path('javascript_samples/img1') %>|<%= asset_path('javascript_samples/img2') %></div>
</div>