<div class="CssBase__Sample_10_01">
  <div class="container">
    <p><img src=<%= asset_path('css_base/sample_10_01/title.jpg') %> alt="4/7（火）仙台駅東口にオープン！" />
    </p>
    <h1><img src=<%= asset_path('css_base/sample_10_01/logo.png') %> alt="やさしさ歯科クリニック" /></h1>
    <p class="catch">3/28（土）から診療予約受付開始</p>
    <ul class="contact">
      <li>お問い合わせ・ご連絡　TEL.022-000-0000</li>
      <li>アクセス・所在地　　　仙台駅東口から徒歩5分　仙台市宮城野区榴ヶ岡2　<a href="https://goo.gl/maps/MHsBx" target="_blank">地図で場所を見る</a>
      </li>
    </ul>
    <h2>イベント開催</h2>
    <h3>オープン前にイベントを開催します</h3>
    <p>いずれも予約不要・先着順です。そのまま当日お越しください。</p>
    <div class="event">
      <div>
        <h4>院内見学会</h4>
        <p>どなたでもお気軽に
          <br />お越しください。
          <br /> 3/28（土）〜30（月）
          <br /> 11:00〜16:00
        </p>
      </div>
      <div>
        <h4>お口の健康相談会</h4>
        <p>お口の中・歯について、
          <br />何でもご相談ください。
          <br /> 3/28（土）
          <br /> 13:00〜16:00
        </p>
      </div>
      <div>
        <h4>歯みがき教室</h4>
        <p>幼児〜小学生向けの
          <br />歯磨き教室を開催します。
          <br /> 3/28（日）・29（月）
          <br /> 13:00〜14:00
        </p>
      </div>
    </div>
    <h2>当クリニックについて</h2>
    <h3>地域の皆さまに貢献できるクリニックへ</h3>
    <p>当クリニックでは、治療に真剣、真摯に取り組むことはもちろん、ほんの些細なことでも、気軽に相談出来るクリニックを目指しています。
      <br /> 地域の患者さまから頼りにして頂けるような雰囲気作りを目指しています。
      <br /> 健康維持のお役にたてるよう、スタッフ一同皆さまのお越しを心よりお待ちしております。
    </p>
    <h2>診療時間</h2>
    <ul>
      <li>診療時間　午前／9:00〜12:00　午後／14:30〜17:00</li>
      <li>休診日　　水曜・日曜・祝日・土曜午後</li>
    </ul>
    <table>
      <thead>
      <tr>
        <th></th>
        <th>月</th>
        <th>火</th>
        <th>水</th>
        <th>木</th>
        <th>金</th>
        <th>土</th>
        <th>日</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>午前</th>
        <td>&#9711;</td>
        <td>&#9711;</td>
        <td>休</td>
        <td>&#9711;</td>
        <td>&#9711;</td>
        <td>&#9711;</td>
        <td>休</td>
      </tr>
      <tr>
        <th>午後</th>
        <td>&#9711;</td>
        <td>&#9711;</td>
        <td>休</td>
        <td>&#9711;</td>
        <td>&#9711;</td>
        <td>休</td>
        <td>休</td>
      </tr>
      </tbody>
    </table>
    <p><small>&copy; Yasashisa Dental Clinic. All Rights Reserved.</small>
    </p>
  </div>
</div>