-
docs/README.md
docs/dev/app_architecture.md
docs/dev/html_css_book/html_css_book.md
docs/dev/beer_list/beer_list.md
docs/dev/intro_to_react/intro_to_react.md
docs/dev/react_beginners_guide/excel.md
docs/dev/react_beginners_guide/whinepad.md
docs/dev/bootstrap/bootstrap.md
docs/dev/javascript/javascript.md
docs/dev/css_base/css_base.md
docs/dev/sass_base/sass_base.md
docs/ops/build_vagrant.md
docs/ops/build_docker.md
docs/ops/build_app_components.md
docs/ops/ship_jenkins.md
docs/ops/ship_circleci.md
docs/ops/ship_heroku.md