-
docs/README.md
docs/dev/app_architecture.md
docs/dev/beer_list/beer_list.md
docs/ops/build_vagrant.md
docs/ops/build_docker.md
docs/ops/build_app_components.md
docs/ops/ship_jenkins.md
docs/ops/ship_circleci.md
docs/ops/ship_heroku.md