<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "sample app", rails_tutorial_sample_root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   rails_tutorial_sample_root_path %></li>
        <li><%= link_to "Help",   rails_tutorial_sample_help_path %></li>
        <li><%= link_to "Log in", rails_tutorial_sample_login_path %></li>
      </ul>
    </nav>
  </div>
</header>