.CssBase__chap08--01-1 {
  h2 {
    background-color: #e4ff8d;
    padding: 10px;
  }
}

.CssBase__chap08--01-2 {
  h2 {
    padding: 10px;
    background: image-url('css_base/h1back.png');
  }
}

.CssBase__chap08--02-1 {
  h2 {
    border-bottom: 5px solid #ffcc00;
    padding: 5px;
  }
}

.CssBase__chap08--02-2 {
  h2 {
    padding: 5px;
    border-bottom: 3px dashed #ffcc00;
  }
}

.CssBase__chap08--02-3 {
  h2 {
    padding: 5px;
    border-bottom: 1px solid #cccccc;
    border-top: 15px solid #ffcc00;
  }
}

.CssBase__chap08--03 {
  h2 {
    border-left: 10px solid #ffcc00;
    padding: 5px 5px 5px 15px;
  }
}

.CssBase__chap08--04-1 {
  h2 {
    border: 3px solid #ffcc00;
    padding: 10px;
  }
}

.CssBase__chap08--04-2 {
  h2 {
    padding: 10px;
    border: 3px solid #ffcc00;
    border-radius: 20px;
  }
}

.CssBase__chap08--05-1 {
  h2 {
    padding: 10px;
    background-color: #ffe7ea;
    border: 3px dotted #bd6e3d;
  }
}

.CssBase__chap08--05-2 {
  h2 {
    padding: 5px 5px 5px 15px;
    border-bottom: 2px solid #0080ff;
    border-left: 15px solid #0080ff;
  }
}

.CssBase__chap08--05-3 {
  h2 {
    padding: 10px;
    background-color: #ffffbf;
    border-right: 45px solid #ffdc73;
  }
}

.CssBase__chap08--05-4 {
  h2 {
    padding: 10px 0;
    color: #ffffff;
    text-align: center;
    background-color: #005982;
    border-left: 30px solid #99ccff;
    border-right: 30px solid #99ccff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
}