.CssBase {
  padding: 30px;

  table {
    border: 1px solid black;
    margin: 20px;

    td {
      border: 1px solid black;
      padding: 5px;
    }

    th {
      border: 1px solid black;
      padding: 5px;
    }

  }
}