<div class="CssBase">
  <div class="CssBase__chap05--02">
    <h1>5-02：背景の色を変える</h1>

    <h1>株式会社Gazi工房</h1>
    <p>株式会社Gazi工房は山形県川西町を拠点に、福島、宮城、茨城、東京など東北・関東を中心にホームページ制作を行っています。当社は中小企業さま案件を得意とし、多くの制作実績がございます。Gazi工房は常にお客さまの利益を優先し、「ホームページで何ができるのか。」を一緒に考え、成果に結びつけるお手伝いをいたします。</p>
  </div>

  <div class="CssBase__chap05--03">
    <h1>5-03：見出しや段落の背景色を変える</h1>
    <h1>株式会社Gazi工房</h1>
    <p>株式会社Gazi工房は山形県東置賜郡川西町を拠点に、広く多くの方にWebサイトを利用してもらうべく啓蒙活動を通して、Webサイトの企画提案から制作、運用のコンサルティングを行っています。</p>
    <p>地方でこそWebサイトが活きる！Webサイトがあなたの事業を活かす！活力あるWebサイトを多くの方に！</p>
    <h2>がじがじ最新情報</h2>
    <dl>
      <dt>2015年4月18日</dt>
      <dd><a href="news/index.html">JimdoCafe 福島「ホームページ活用セミナー」を福島市で開催！</a></dd>
      <dt>2015年3月18日</dt>
      <dd><a href="news/index.html">JimdoCafe 福島「ホームページ活用セミナー」お申込みを開始いたしました。</a></dd>
    </dl>
  </div>

  <div class="CssBase__chap05--04-1">
    <h1>5-04：背景に画像を指定する</h1>
    <h1>株式会社Gazi工房</h1>
    <p>株式会社Gazi工房は山形県川西町を拠点に、福島、宮城、茨城、東京など東北・関東を中心にホームページ制作を行っています。当社は中小企業さま案件を得意とし、多くの制作実績がございます。Gazi工房は常にお客さまの利益を優先し、「ホームページで何ができるのか。」を一緒に考え、成果に結びつけるお手伝いをいたします。</p>
  </div>

  <div class="CssBase__chap05--04-2">
    <h1>5-04：背景に画像を指定する</h1>
    <h1>株式会社Gazi工房</h1>
    <p>株式会社Gazi工房は山形県川西町を拠点に、福島、宮城、茨城、東京など東北・関東を中心にホームページ制作を行っています。当社は中小企業さま案件を得意とし、多くの制作実績がございます。Gazi工房は常にお客さまの利益を優先し、「ホームページで何ができるのか。」を一緒に考え、成果に結びつけるお手伝いをいたします。</p>
  </div>

  <div class="CssBase__chap05--04-3">
    <h1>5-04：背景に画像を指定する</h1>
    <h1>株式会社Gazi工房</h1>
    <p>株式会社Gazi工房は山形県川西町を拠点に、福島、宮城、茨城、東京など東北・関東を中心にホームページ制作を行っています。当社は中小企業さま案件を得意とし、多くの制作実績がございます。Gazi工房は常にお客さまの利益を優先し、「ホームページで何ができるのか。」を一緒に考え、成果に結びつけるお手伝いをいたします。</p>
  </div>

  <div class="CssBase__chap05--04-4">
    <h1>5-04：背景に画像を指定する</h1>
    <h1>株式会社Gazi工房</h1>
    <p>株式会社Gazi工房は山形県川西町を拠点に、福島、宮城、茨城、東京など東北・関東を中心にホームページ制作を行っています。当社は中小企業さま案件を得意とし、多くの制作実績がございます。Gazi工房は常にお客さまの利益を優先し、「ホームページで何ができるのか。」を一緒に考え、成果に結びつけるお手伝いをいたします。</p>
  </div>

  <div class="CssBase__chap05--04-5">
    <h1>5-04：背景に画像を指定する</h1>
    <h1>株式会社Gazi工房</h1>
    <p>株式会社Gazi工房は山形県川西町を拠点に、福島、宮城、茨城、東京など東北・関東を中心にホームページ制作を行っています。当社は中小企業さま案件を得意とし、多くの制作実績がございます。Gazi工房は常にお客さまの利益を優先し、「ホームページで何ができるのか。」を一緒に考え、成果に結びつけるお手伝いをいたします。</p>
  </div>

  <div class="CssBase__chap05--05">
    <h1>5-05：テキストの一部に効果をつける</h1>
    <h1>株式会社Gazi工房</h1>
    <p><span class="example1">株式会社Gazi工房</span>は<span class="example2">山形県川西町</span>を拠点に、福島、宮城、茨城、東京など東北・関東を中心にホームページ制作を行っています。当社は中小企業さま案件を得意とし、多くの制作実績がございます。Gazi工房は常にお客さまの利益を優先し、「ホームページで何ができるのか。」を一緒に考え、成果に結びつけるお手伝いをいたします。</p>
  </div>

  <div class="CssBase__chap05--06">
    <h1>5-06：表の見出しの背景色を変える</h1>
    <table>
      <caption>
        東北各県の面積ランキング
      </caption>
      <tr>
        <th>県名</th>
        <th>総面積</th>
      </tr>
      <tr>
        <td>岩手県</td>
        <td>15,279km<span>2</span>
        </td>
      </tr>
      <tr>
        <td>福島県</td>
        <td>13,783km<span>2</span>
        </td>
      </tr>
      <tr>
        <td>秋田県</td>
        <td>11,612km<span>2</span>
        </td>
      </tr>
      <tr>
        <td>青森県</td>
        <td>9,607km<span>2</span>
        </td>
      </tr>
      <tr>
        <td>山形県</td>
        <td>9,323km<span>2</span>
        </td>
      </tr>
      <tr>
        <td>宮城県</td>
        <td>7,285km<span>2</span>
        </td>
      </tr>
    </table>
  </div>

  <div class="CssBase__chap05--06">
    <h1>5-06：表の見出しの背景色を変える</h1>
    <table>
      <caption>
        東北各県の面積ランキング
      </caption>
      <tr>
        <th>県名</th>
        <th>総面積</th>
      </tr>
      <tr>
        <!-- ↓県名のセルをtd要素からth要素に変更し、class属性を追加した↓ -->
        <th class="pref">岩手県</th>
        <td>15,279km<span>2</span></td>
      </tr>
      <tr>
        <th class="pref">福島県</th>
        <td>13,783km<span>2</span></td>
      </tr>
      <tr>
        <th class="pref">秋田県</th>
        <td>11,612km<span>2</span></td>
      </tr>
      <tr>
        <th class="pref">青森県</th>
        <td>9,607km<span>2</span></td>
      </tr>
      <tr>
        <th class="pref">山形県</th>
        <td>9,323km<span>2</span></td>
      </tr>
      <tr>
        <th class="pref">宮城県</th>
        <td>7,285km<span>2</span></td>
      </tr>
    </table>
  </div>

  <div class="CssBase__chap05--07-1">
    <h1>5-07：表のデータ行の背景色を変える</h1>
    <table>
      <caption>
        東北各県の面積ランキング
      </caption>
      <tr>
        <th>県名</th>
        <th>総面積</th>
      </tr>
      <tr>
        <td>岩手県</td>
        <td>15,279km<span>2</span>
        </td>
      </tr>
      <tr>
        <td>福島県</td>
        <td>13,783km<span>2</span>
        </td>
      </tr>
      <tr>
        <td>秋田県</td>
        <td>11,612km<span>2</span>
        </td>
      </tr>
      <tr>
        <td>青森県</td>
        <td>9,607km<span>2</span>
        </td>
      </tr>
      <tr>
        <td>山形県</td>
        <td>9,323km<span>2</span>
        </td>
      </tr>
      <tr>
        <td>宮城県</td>
        <td>7,285km<span>2</span>
        </td>
      </tr>
    </table>
  </div>

  <div class="CssBase__chap05--07-2">
    <h1>5-07：表のデータ行の背景色を変える</h1>
    <table>
      <caption>
        東北各県の面積ランキング
      </caption>
      <tr>
        <th>県名</th>
        <th>総面積</th>
      </tr>
      <tr>
        <td>岩手県</td>
        <td>15,279km<span>2</span>
        </td>
      </tr>
      <tr>
        <td>福島県</td>
        <td>13,783km<span>2</span>
        </td>
      </tr>
      <tr>
        <td>秋田県</td>
        <td>11,612km<span>2</span>
        </td>
      </tr>
      <tr>
        <td>青森県</td>
        <td>9,607km<span>2</span>
        </td>
      </tr>
      <tr>
        <td>山形県</td>
        <td>9,323km<span>2</span>
        </td>
      </tr>
      <tr>
        <td>宮城県</td>
        <td>7,285km<span>2</span>
        </td>
      </tr>
    </table>
  </div>

  <div class="CssBase__chap05--07-3">
    <h1>5-07：表のデータ行の背景色を変える</h1>
    <table>
      <caption>
        東北各県のデータ
      </caption>
      <tr>
        <th>県名</th>
        <th>県庁所在地</th>
        <th>総面積</th>
        <th>人口</th>
      </tr>
      <tr>
        <td>青森県</td>
        <td>青森市</td>
        <td>9,607km<span>2</span>
        </td>
        <td>1,373,339</td>
      </tr>
      <tr>
        <td>岩手県</td>
        <td>盛岡市</td>
        <td>15,279km<span>2</span>
        </td>
        <td>1,330,147</td>
      </tr>
      <tr>
        <td>秋田県</td>
        <td>秋田市</td>
        <td>11,612km<span>2</span>
        </td>
        <td>1,085,997</td>
      </tr>
      <tr>
        <td>宮城県</td>
        <td>仙台市</td>
        <td>7,285km<span>2</span>
        </td>
        <td>2,348,165</td>
      </tr>
      <tr>
        <td>山形県</td>
        <td>山形市</td>
        <td>9,323km<span>2</span>
        </td>
        <td>1,168,924</td>
      </tr>
      <tr>
        <td>福島県</td>
        <td>福島市</td>
        <td>13,783km<span>2</span>
        </td>
        <td>2,029,064</td>
      </tr>
    </table>
  </div>
</div>