<div class="SassBase__chap3">
  <%= link_to '戻る', sass_base_top_index_path %>

  <h1>Sassの基本機能</h1>
  <h2>ルールのネスト</h2>
  <h3>ネストの基本</h3>
  <div id="main_1_1">
    <section>
      <h1>見出し</h1>
      <p>段落</p>
      <p class="notes">注意書き</p>
      <ul>
        <li>リスト</li>
      </ul>
    </section>
    <section>
      <h1>見出し</h1>
      <p>段落</p>
    </section>
  </div>

  <h3>子孫セレクタ以外のセレクタを使うには</h3>
  <div id="main_1_2">
    <section>
      <h1>見出し</h1>
      <p>段落</p>
      <p class="notes">注意書き</p>
      <ul>
        <li>リスト</li>
      </ul>
    </section>
    <section>
      <h1>見出し</h1>
      <p>段落</p>
    </section>
  </div>

  <h3>@mediaのネスト</h3>
  <div id="main_1_3">
    <section>
      <h1>見出し</h1>
      <p>段落</p>
      <p class="notes">注意書き</p>
      <ul>
        <li>リスト</li>
      </ul>
    </section>
    <section>
      <h1>見出し</h1>
      <p>段落</p>
    </section>
  </div>

  <h2>親セレクタの参照＆（アンパサンド）</h2>
  <div id="side">
    <body class="top">
    <h1>見出し</h1>
    <ul class="bnr">
      <li>リスト</li>
      <li>リスト</li>
      <li>リスト</li>
    </ul>
    </body>
  </div>

  <h2>プロパティのネスト</h2>
  <div class="sample">
    <section>
      <h1>見出し</h1>
      <p>段落</p>
    </section>
  </div>

  <h2>変数</h2>
  <h3>変数の基本</h3>
  <div id="main_5_1">
    <section>
      <p class="notes">注意書き</p>
    </section>
    <section>
      <p class="notesBox">注意書き</p>
    </section>
  </div>

  <h3>ルールセット内で変数を宣言する</h3>
  <div id="main_5_2">
    <section>
      <ul>
        <li class="item">アイテム</li>
        <li class="item">アイテム</li>
        <li class="item">アイテム</li>
      </ul>
    </section>
  </div>

  <h3>変数の参照範囲（スコープ）</h3>
  <div id="main_5_3">
    <section>
      <ul>
        <li class="item">アイテム</li>
        <li class="item"><p>アイテム</p></li>
        <li class="item">アイテム</li>
      </ul>
    </section>
  </div>

  <h2>演算</h2>
  <h3>演算の基本</h3>
  <div id="main_6_1">
    <article>
      <div class="example01">足し算</div>
      <div class="example02">掛け算</div>
      <div class="example03">割り算</div>
    </article>
  </div>

  <h3>変数と演算を同時に利用する</h3>
  <div id="main_6_2">
    <article>
      <p>記事</p>
    </article>
  </div>

  <h3>色の演算</h3>
  <div id="main_6_3">
    <ul>
      <li><a href="#" class="sample01">sample01</a></li>
      <li><a href="#" class="sample02">sample02</a></li>
      <li><a href="#" class="sample03">sample03</a></li>
      <li><a href="#" class="sample04">sample04</a></li>
    </ul>
  </div>
</div>