<div class="CssBase">
  <div class="CssBase__chap04--02">
    <h1>4-02：Webサイト全体の文字のサイズを変える</h1>
    <h1>株式会社Gazi工房</h1>
    <p>株式会社Gazi工房は山形県東置賜郡川西町を拠点に、広く多くの方にWebサイトを利用してもらうべく啓蒙活動を通して、Webサイトの企画提案から制作、運用のコンサルティングを行っています。</p>
    <p>地方でこそWebサイトが活きる！Webサイトがあなたの事業を活かす！活力あるWebサイトを多くの方に！</p>
    <h2>がじがじ最新情報</h2>
    <dl>
      <dt>2015年4月18日</dt>
      <dd><a href="news/index.html">JimdoCafe 福島「ホームページ活用セミナー」を福島市で開催！</a></dd>
      <dt>2015年3月18日</dt>
      <dd><a href="news/index.html">JimdoCafe 福島「ホームページ活用セミナー」お申込みを開始いたしました。</a></dd>
    </dl>
  </div>

  <div class="CssBase__chap04--03">
    <h1>4-03：Webページ全体の文字色を変える</h1>
    <h1>株式会社Gazi工房</h1>
    <p>株式会社Gazi工房は山形県東置賜郡川西町を拠点に、広く多くの方にWebサイトを利用してもらうべく啓蒙活動を通して、Webサイトの企画提案から制作、運用のコンサルティングを行っています。</p>
    <p>地方でこそWebサイトが活きる！Webサイトがあなたの事業を活かす！活力あるWebサイトを多くの方に！</p>
    <h2>がじがじ最新情報</h2>
    <dl>
      <dt>2015年4月18日</dt>
      <dd><a href="news/index.html">JimdoCafe 福島「ホームページ活用セミナー」を福島市で開催！</a></dd>
      <dt>2015年3月18日</dt>
      <dd><a href="news/index.html">JimdoCafe 福島「ホームページ活用セミナー」お申込みを開始いたしました。</a></dd>
    </dl>
  </div>

  <div class="CssBase__chap04--04">
    <h1>4-04：フォントの種類を変更する</h1>
    <h1>株式会社Gazi工房</h1>
    <p>株式会社Gazi工房は山形県東置賜郡川西町を拠点に、広く多くの方にWebサイトを利用してもらうべく啓蒙活動を通して、Webサイトの企画提案から制作、運用のコンサルティングを行っています。</p>
    <p>地方でこそWebサイトが活きる！Webサイトがあなたの事業を活かす！活力あるWebサイトを多くの方に！</p>
    <h2>がじがじ最新情報</h2>
    <dl>
      <dt>2015年4月18日</dt>
      <dd><a href="news/index.html">JimdoCafe 福島「ホームページ活用セミナー」を福島市で開催！</a></dd>
      <dt>2015年3月18日</dt>
      <dd><a href="news/index.html">JimdoCafe 福島「ホームページ活用セミナー」お申込みを開始いたしました。</a></dd>
    </dl>
    </body>
  </div>

  <div class="CssBase__chap04--05">
    <h1>4-05：文字を太くする</h1>
    <h1>株式会社Gazi工房</h1>
    <p>株式会社Gazi工房は山形県川西町を拠点に、福島、宮城、茨城、東京など東北・関東を中心にホームページ制作を行っています。当社は中小企業さま案件を得意とし、多くの制作実績がございます。Gazi工房は常にお客さまの利益を優先し、「ホームページで何ができるのか。」を一緒に考え、成果に結びつけるお手伝いをいたします。
  </div>

  <div class="CssBase__chap04--06">
    <h1>4-06：文字を斜体にする</h1>
    <h1>株式会社Gazi工房</h1>
    <p>株式会社Gazi工房は<em>山形県川西町</em>を拠点に、福島、宮城、茨城、東京など東北・関東を中心にホームページ制作を行っています。当社は中小企業さま案件を得意とし、多くの制作実績がございます。Gazi工房は常にお客さまの利益を優先し、「ホームページで何ができるのか。」を一緒に考え、成果に結びつけるお手伝いをいたします。</p>
  </div>

  <div class="CssBase__chap04--07">
    <h1>4-07：行の高さを調整する</h1>
    <h1>株式会社Gazi工房</h1>
    <p>株式会社Gazi工房は山形県川西町を拠点に、福島、宮城、茨城、東京など東北・関東を中心にホームページ制作を行っています。当社は中小企業さま案件を得意とし、多くの制作実績がございます。Gazi工房は常にお客さまの利益を優先し、「ホームページで何ができるのか。」を一緒に考え、成果に結びつけるお手伝いをいたします。</p>
  </div>


  <div class="CssBase__chap04--08">
    <h1>4-08：文字の字間を調整する</h1>
    <h1>株式会社Gazi工房</h1>
    <p>株式会社Gazi工房は山形県川西町を拠点に、福島、宮城、茨城、東京など東北・関東を中心にホームページ制作を行っています。当社は中小企業さま案件を得意とし、多くの制作実績がございます。Gazi工房は常にお客さまの利益を優先し、「ホームページで何ができるのか。」を一緒に考え、成果に結びつけるお手伝いをいたします。
  </div>

  <div class="CssBase__chap04--09">
    <h1>4-09：水平方向の位置を指定する</h1>
    <h2>株式会社Gazi工房</h2>
    <p>株式会社Gazi工房は山形県川西町を拠点に、福島、宮城、茨城、東京など東北・関東を中心にホームページ制作を行っています。当社は中小企業さま案件を得意とし、多くの制作実績がございます。Gazi工房は常にお客さまの利益を優先し、「ホームページで何ができるのか。」を一緒に考え、成果に結びつけるお手伝いをいたします。</p>
  </div>

  <div class="CssBase__chap04--10">
    <h1>4-10：テキストリンクの色を変更する</h1>
    <ul>
      <li><a href="http://www.magical-remix.co.jp" target="_blank">高品質・成果を重視した設計の仙台、宮城のホームページ制作なら、株式会社マジカルリミックス</a>
      </li>
      <li><a href="http://fc0.vc" target="_blank">「はじめてのホームページ」を作る人を応援する会社 株式会社エフシーゼロ</a>
      </li>
      <li><a href="http://gazikobo.co.jp" target="_blank">どんぶり飯が大好き大好き。株式会社Gazi工房</a>
      </li>
    </ul>
  </div>

  <div class="CssBase__chap04--11">
    <h1>4-11：文字に線をつける</h1>
    <h1>株式会社Gazi工房</h1>
    <h2>ご飯が大好きGazi工房！</h2>
    <p>株式会社Gazi工房は山形県東置賜郡川西町を拠点に活動しています。
  </div>

  <div class="CssBase__chap04--12">
    <h1>4-12：文章の一部だけスタイルを変更する</h1>
    <p><span class="example1">株式会社Gazi工房</span>は山形県東置賜郡川西町（面積：166.60km、人口：16,040人、人口密度：96.3人/km<span class="example4">2</span>）を拠点に、広く多くの方にホームページを利用してもらうべく<span class="example2">啓蒙活動</span>を通して、ホームページの企画提案から制作、運用のコンサルティングを行っています。</p>
    <p>地方でこそホームページが活きる、あなたの事業を活かす、そんな<span class="example3">ホームページを多くの方</span>に！</p>
    <p>Gazi工房はCO<span class="example5">2</span>削減に努めております。</p>
  </div>

  <div class="CssBase__chap04--13">
    <h1>4-13：文字の字下げを表現する</h1>
    <p class="example1">ホームページで伝えたい内容、アイデアはお客様のあたまの中にあります。私たちGazi工房はヒアリングを行い、お客様の情報を引き出します。いくら良いアイデアであっても、表現するホームページの質が悪ければそのアイデアは活かせません。逆に素晴らしいデザインのホームページであったとしても、伝えたい内容が薄いものは情報としての効果を望むことができません。</p>
    <p class="example2">※Gazi工房は、お客様と役割分担をさせていただきながら、一緒にホームページを作り上げてまいります。ご相談はお気軽に。</p>
  </div>
</div>