<div class="CssBase">
  <div class="CssBase__chap08--01-1">
    <h1>8-01：見出しに背景色をつける</h1>
    <h2>CSSを1から学ぼう！</h2>
  </div>

  <div class="CssBase__chap08--01-2">
    <h1>8-01：見出しに背景色をつける</h1>
    <h2>CSSを1から学ぼう！</h2>
  </div>

  <div class="CssBase__chap08--02-1">
    <h1>8-02：見出しにアンダーラインを引く</h1>
    <h2>CSSを1から学ぼう！</h2>
  </div>

  <div class="CssBase__chap08--02-2">
    <h1>8-02：見出しにアンダーラインを引く</h1>
    <h2>CSSを1から学ぼう！</h2>
  </div>

  <div class="CssBase__chap08--02-3">
    <h1>8-02：見出しにアンダーラインを引く</h1>
    <h2>CSSを1から学ぼう！</h2>
  </div>

  <div class="CssBase__chap08--03">
    <h1>8-03：見出しの始まりに装飾を入れる</h1>
    <h2>CSSを1から学ぼう！</h2>
  </div>

  <div class="CssBase__chap08--04-1">
    <h1>8-04：見出しを枠線で囲む</h1>
    <h2>CSSを1から学ぼう！</h2>
  </div>

  <div class="CssBase__chap08--04-2">
    <h1>8-04：見出しを枠線で囲む</h1>
    <h2>CSSを1から学ぼう！</h2>
  </div>

  <div class="CssBase__chap08--05-1">
    <h1>8-05：装飾を組み合わせる</h1>
    <h2>CSSを1から学ぼう！</h2>
  </div>

  <div class="CssBase__chap08--05-2">
    <h1>8-05：装飾を組み合わせる</h1>
    <h2>CSSを1から学ぼう！</h2>
  </div>

  <div class="CssBase__chap08--05-3">
    <h1>8-05：装飾を組み合わせる</h1>
    <h2>CSSを1から学ぼう！</h2>
  </div>

  <div class="CssBase__chap08--05-4">
    <h1>8-05：装飾を組み合わせる</h1>
    <h2>CSSを1から学ぼう！</h2>
  </div>
</div>