<h1>Editing Rails Tutorial Toy Micropost</h1>

<%= render 'form', rails_tutorial_toy_micropost: @rails_tutorial_toy_micropost %>

<%= link_to 'Show', @rails_tutorial_toy_micropost %> |
<%= link_to 'Back', rails_tutorial_toy_microposts_path %>
