<div class="CssBase__Sample_10_03">
  <body class="body cc-page cc-pagemode-default cc-content-parent" id="page-2062160291">
  <div id="cc-inner" class="cc-content-parent">

    <%= render 'css_base/chapter10/sample_10_03/shared/header' %>

    <div id="content" class="cc-content-parent">
      <div id="main" class="cc-content-parent">
        <div id="content_area" data-container="content"><div id="content_start"></div>

          <div id="cc-matrix-2740229791"><div id="cc-m-10233552291" class="n j-header"><h1 id="cc-m-header-10233552291">事務所案内</h1></div><div id="cc-m-10233551891" class="n j-header"></div></div>
          <p>このページは、ただいま準備中です。</p>
        </div> <!--/#main-->
      </div>

      <%= render 'css_base/chapter10/sample_10_03/shared/side' %>

      <!--/#content-->
    </div>

    <%= render 'css_base/chapter10/sample_10_03/shared/footer' %>

  </div>
  <!--/#footer-->

  </body>
</div>