<div class="Chap2_2">
  <h1>要素セレクタを省略する</h1>
  <div class="c2_2_1">
    <h2 class="title">タイトル</h2>
    <ul class="link-list">
      <li><a href="#">リンクリスト</a></li>
    </ul>
  </div>
  <div class="c2_2_2">
    <h2 class="title">タイトル</h2>
    <ul class="link-list">
      <li><a href="#">リンクリスト</a></li>
    </ul>
  </div>

  <h2>セレクタを短くする</h2>
  <div class="c2_2_3">
    <ul class="links">
      <li><a href="#link">リンク</a></li>
      <li><a href="#link">リンク</a></li>
      <li><a href="#link">リンク</a></li>
    </ul>
  </div>
  <div class="c2_2_4">
    <ul class="links">
      <li><a href="#link">リンク</a></li>
      <li><a href="#link">リンク</a></li>
      <li><a href="#link">リンク</a></li>
    </ul>
  </div>

  <h2>セレクタを限定的にする</h2>
  <div class="c2_2_5">
    <div id="sidebar">
      <ul>
        <li><a href="#menu">メニュー</a></li>
        <li><a href="#menu">メニュー</a></li>
        <li><a href="#menu">メニュー</a></li>
      </ul>

      <div class="widget">
        <ul class="links">
          <li><a href="link">リンク</a></li>
          <li><a href="link">リンク</a></li>
          <li><a href="link">リンク</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="c2_2_6">
    <div id="sidebar">
      <ul>
        <li><a href="#menu">メニュー</a></li>
        <li><a href="#menu">メニュー</a></li>
        <li><a href="#menu">メニュー</a></li>
      </ul>

      <div class="widget">
        <ul class="links">
          <li><a href="link">リンク</a></li>
          <li><a href="link">リンク</a></li>
          <li><a href="link">リンク</a></li>
        </ul>
      </div>
    </div>
  </div>

  <h2>クラスセレクを活用する</h2>
  <div class="c2_2_7">
    <div id="menus">
      <ul>
        <li><a href="#menu">メニュー</a></li>
        <li><a href="#menu">メニュー</a></li>
        <li><a href="#menu">メニュー</a></li>
      </ul>

      <div class="widget">
        <ul class="links">
          <li><a href="link">リンク</a></li>
          <li><a href="link">リンク</a></li>
          <li><a href="link">リンク</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>