<div class="CssDesign">
  <h1>SOLID CSS</h1>
  <h2>単一責任の原則</h2>
  <div class="Ocp1">
    <a href="#" class="btn theme-default">ボタン</a>
    <h2 class="heading theme-default">見出し</h2>
  </div>
  <h2>開放/閉鎖の原則</h2>
  <div class="Ocp2">
    <a href="#" class="btn btn--primary btn--large">ボタン</a>
  </div>
</div>