<div class="Chap5_1">
<h1>マルチクラスとシングルクラス</h1>
  <h2>シングルクラス</h2>
  <div class="c5_1_1">
    <button class="btn">ボタン</button>

    <button class="btn-primary">重要なボタン</button>
    <button class="btn-secondary">やや重要なボタン</button>

    <button class="btn-small">小さなボタン</button>
    <button class="btn-large">大きなボタン</button>

    <button class="btn-primary-small">小さな重要なボタン</button>
    <button class="btn-primary-large">大きな重要なボタン</button>

    <button class="btn-secondary-small">小さなやや重要なボタン</button>
    <button class="btn-secondary-large">大きなやや重要なボタン</button>
  </div>
  <h2>マルチクラス</h2>
  <div class="c5_1_2">
    <button class="btn">ボタン</button>

    <button class="btn btn--primary">重要なボタン</button>
    <button class="btn btn--secondary">やや重要なボタン</button>

    <button class="btn btn--small">小さなボタン</button>
    <button class="btn btn--large">大きなボタン</button>

    <button class="btn btn--primary btn--small">小さな重要なボタン</button>
    <button class="btn btn--primary btn--large">大きな重要なボタン</button>

    <button class="btn btn--secondary btn--small">小さなやや重要なボタン</button>
    <button class="btn btn--secondary btn--large">大きなやや重要なボタン</button>
  </div>
  <h2>セマンティックなクラス名</h2>
  <div class="c5_1_3">
    <div class="profile">
      <button class="save">内容を保存する</button>
    </div>
    <div class="contact">
      <button class="send">送信する</button>
    </div>
    <div class="tutorial">
      <button class="go-forward">次へ進む</button>
    </div>
  </div>
  <h2>Sassの注意点</h2>
  <div class="c5_1_4">
    <div class="info">
      <h2 class="title">お知らせ</h2>
      <p class="body">6月1日より料金の改定があります。</p>
    </div>

    <div class="warning">
      <h2 class="title">ただいまメンテナンス中です</h2>
      <p class="body">5月29日1:00 - 6:00頃までメンテナンスのためアクセスができません。</p>
    </div>
  </div>
</div>