<div class="Chap7_2">
  <div class="alert">
    <p class="alert__title">アラートメッセージのタイトル</p>
    <div class="alert__body">
      <p>アラートメッセージの本文</p>
    </div>
  </div>

  <div class="alert alert--warning">
    <p class="alert__title">アラートメッセージのタイトル</p>
    <div class="alert__body">
      <ul>
        <li>アラートメッセージのリスト</li>
        <li>アラートメッセージのリスト</li>
      </ul>
    </div>
  </div>
</div>