<div class="CssBase">
  <div class="CssBase__chap06--01-1">
    <title>6-01：枠線をつける</title>
    <h1>株式会社Gazi工房</h1>
    <p class="example1">上に6pxの水色の二重線</p>
    <p class="example2">右に5pxの緑色の実線と、下に9pxのオレンジ色のドット線</p>
  </div>

  <div class="CssBase__chap06--01-2">
    <title>6-01：枠線をつける</title>
    <h1>株式会社Gazi工房</h1>
    <p class="example1">上に6pxの水色の二重線</p>
    <p class="example2">右に5pxの緑色の実線と、下に9pxのオレンジ色のドット線</p>
  </div>

  <div class="CssBase__chap06--02-1">
    <h1>6-02：表に枠線をつける</h1>
    <table>
      <caption>
        東北各県のデータ
      </caption>
      <tr>
        <th>県名</th>
        <th>県庁所在地</th>
        <th>総面積</th>
        <th>人口</th>
      </tr>
      <tr>
        <td>青森県</td>
        <td>青森市</td>
        <td>9,607km<span>2</span>
        </td>
        <td>1,373,339</td>
      </tr>
      <tr>
        <td>岩手県</td>
        <td>盛岡市</td>
        <td>15,279km<span>2</span>
        </td>
        <td>1,330,147</td>
      </tr>
      <tr>
        <td>秋田県</td>
        <td>秋田市</td>
        <td>11,612km<span>2</span>
        </td>
        <td>1,085,997</td>
      </tr>
      <tr>
        <td>宮城県</td>
        <td>仙台市</td>
        <td>7,285km<span>2</span>
        </td>
        <td>2,348,165</td>
      </tr>
      <tr>
        <td>山形県</td>
        <td>山形市</td>
        <td>9,323km<span>2</span>
        </td>
        <td>1,168,924</td>
      </tr>
      <tr>
        <td>福島県</td>
        <td>福島市</td>
        <td>13,783km<span>2</span>
        </td>
        <td>2,029,064</td>
      </tr>
    </table>
  </div>

  <div class="CssBase__chap06--02-2">
    <h1>6-02：表に枠線をつける</h1>
    <table>
      <caption>
        東北各県のデータ
      </caption>
      <tr>
        <th>県名</th>
        <th>県庁所在地</th>
        <th>総面積</th>
        <th>人口</th>
      </tr>
      <tr>
        <td>青森県</td>
        <td>青森市</td>
        <td>9,607km<span>2</span>
        </td>
        <td>1,373,339</td>
      </tr>
      <tr>
        <td>岩手県</td>
        <td>盛岡市</td>
        <td>15,279km<span>2</span>
        </td>
        <td>1,330,147</td>
      </tr>
      <tr>
        <td>秋田県</td>
        <td>秋田市</td>
        <td>11,612km<span>2</span>
        </td>
        <td>1,085,997</td>
      </tr>
      <tr>
        <td>宮城県</td>
        <td>仙台市</td>
        <td>7,285km<span>2</span>
        </td>
        <td>2,348,165</td>
      </tr>
      <tr>
        <td>山形県</td>
        <td>山形市</td>
        <td>9,323km<span>2</span>
        </td>
        <td>1,168,924</td>
      </tr>
      <tr>
        <td>福島県</td>
        <td>福島市</td>
        <td>13,783km<span>2</span>
        </td>
        <td>2,029,064</td>
      </tr>
    </table>
  </div>

  <div class="CssBase__chap06--02-3">
    <h1>6-02：表に枠線をつける</h1>
    <table>
      <caption>
        東北各県のデータ
      </caption>
      <tr>
        <th>県名</th>
        <th>県庁所在地</th>
        <th>総面積</th>
        <th>人口</th>
      </tr>
      <tr>
        <td>青森県</td>
        <td>青森市</td>
        <td>9,607km<span>2</span>
        </td>
        <td>1,373,339</td>
      </tr>
      <tr>
        <td>岩手県</td>
        <td>盛岡市</td>
        <td>15,279km<span>2</span>
        </td>
        <td>1,330,147</td>
      </tr>
      <tr>
        <td>秋田県</td>
        <td>秋田市</td>
        <td>11,612km<span>2</span>
        </td>
        <td>1,085,997</td>
      </tr>
      <tr>
        <td>宮城県</td>
        <td>仙台市</td>
        <td>7,285km<span>2</span>
        </td>
        <td>2,348,165</td>
      </tr>
      <tr>
        <td>山形県</td>
        <td>山形市</td>
        <td>9,323km<span>2</span>
        </td>
        <td>1,168,924</td>
      </tr>
      <tr>
        <td>福島県</td>
        <td>福島市</td>
        <td>13,783km<span>2</span>
        </td>
        <td>2,029,064</td>
      </tr>
    </table>
  </div>

  <div class="CssBase__chap06--02-4">
    <h1>6-02：表に枠線をつける</h1>
    <table>
      <caption>
        東北各県のデータ
      </caption>
      <tr>
        <th>県名</th>
        <th>県庁所在地</th>
        <th>総面積</th>
        <th>人口</th>
      </tr>
      <tr>
        <td>青森県</td>
        <td>青森市</td>
        <td>9,607km<span>2</span>
        </td>
        <td>1,373,339</td>
      </tr>
      <tr>
        <td>岩手県</td>
        <td>盛岡市</td>
        <td>15,279km<span>2</span>
        </td>
        <td>1,330,147</td>
      </tr>
      <tr>
        <td>秋田県</td>
        <td>秋田市</td>
        <td>11,612km<span>2</span>
        </td>
        <td>1,085,997</td>
      </tr>
      <tr>
        <td>宮城県</td>
        <td>仙台市</td>
        <td>7,285km<span>2</span>
        </td>
        <td>2,348,165</td>
      </tr>
      <tr>
        <td>山形県</td>
        <td>山形市</td>
        <td>9,323km<span>2</span>
        </td>
        <td>1,168,924</td>
      </tr>
      <tr>
        <td>福島県</td>
        <td>福島市</td>
        <td>13,783km<span>2</span>
        </td>
        <td>2,029,064</td>
      </tr>
    </table>
  </div>

  <div class="CssBase__chap06--03-1">
    <h1>6-03：縦の項目を線で区切る</h1>
    <h1>装飾</h1>
    <ol>
      <li>枠線をつける</li>
      <li>縦の項目を線で区切る</li>
      <li>ボックスに影をつける</li>
      <li>文字に影をつける</li>
      <li>リストの行頭マークを消す/変更する</li>
      <li>角を丸くする</li>
    </ol>
  </div>

  <div class="CssBase__chap06--03-2">
    <h1>6-03：縦の項目を線で区切る</h1>
    <h1>装飾</h1>
    <ol>
      <li>枠線をつける</li>
      <li>縦の項目を線で区切る</li>
      <li>ボックスに影をつける</li>
      <li>文字に影をつける</li>
      <li>リストの行頭マークを消す/変更する</li>
      <li>角を丸くする</li>
    </ol>
  </div>

  <div class="CssBase__chap06--04">
    <h1>6-04：ボックスに影をつける</h1>
    <h2 class="example1">影をつける</h2>
    <h2 class="example2">ぼかした影をつける</h2>
    <h2 class="example3">ぼかした影を広げる</h2>
    <h2 class="example4">複数の影をつける</h2>
    <h2 class="example5">内側に影をつける</h2>
  </div>

  <div class="CssBase__chap06--05">
    <h1>6-05：文字に影をつける</h1>
    <h2 class="example1">文字に影をつける</h2>
    <h2 class="example2">文字にぼかした影をつける</h2>
    <h2 class="example3">文字に複数の影をつける</h2>
  </div>

  <div class="CssBase__chap06--06">
    <h1>6-06：リストマークを変える</h1>
    <section>
      <h2>山形県置賜地方</h2>
      <ol>
        <li>米沢市</li>
        <li>南陽市</li>
        <li>長井市</li>
        <li>高畠町</li>
        <li>川西町</li>
        <li>小国町</li>
        <li>白鷹町</li>
        <li>飯豊町</li>
      </ol>
    </section>
    <section>
      <h2>山形県置賜地方</h2>
      <ul>
        <li>米沢市</li>
        <li>南陽市</li>
        <li>長井市</li>
        <li>高畠町</li>
        <li>川西町</li>
        <li>小国町</li>
        <li>白鷹町</li>
        <li>飯豊町</li>
      </ul>
    </section>
  </div>

  <div class="CssBase__chap06--07">
    <h1>6-07：角を丸くする</h1>
    <h2 class="example1">La France</h2>
    <h2 class="example2">La France</h2>
    <h2 class="example3">La France</h2>
  </div>

  <div class="CssBase__chap06--07">
    <h1>6-07：角を丸くする</h1>
    <h2 class="example4">La France</h2>
  </div>

</div>
