<div class="CssBase__Sample_10_03">
  <body class="body cc-page cc-pagemode-default cc-content-parent" id="page-2062237891">
  <div id="cc-inner" class="cc-content-parent">

    <%= render 'css_base/chapter10/sample_10_03/shared/header' %>

    <div id="content" class="cc-content-parent">
      <div id="main" class="cc-content-parent">
        <div id="content_area" data-container="content"><div id="content_start"></div>

          <div id="cc-matrix-2740426891"><div id="cc-m-10234601991" class="n j-header"><h1 id="cc-m-header-10234601991">ブログ</h1></div><div id="cc-m-10234602191" class="n j-text"><p>
            <span style="line-height: 28.8px;">このページは、ただいま準備中です。</span><br data-mce-bogus="1">
          </p></div></div>

        </div> <!--/#main-->
      </div>

      <%= render 'css_base/chapter10/sample_10_03/shared/side' %>

      <!--/#content-->
    </div>

    <%= render 'css_base/chapter10/sample_10_03/shared/footer' %>

  </div>
  <!--/#footer-->

  </body>
</div>