<div class="CssBase__Sample_10_02">
  <body>
  <div id="container">

    <%= render 'css_base/chapter10/sample_10_02/header'%>

    <div id="content">
      <div id="main">
        <h1>お問い合わせ</h1>
        <p>このページは準備中です。</p>
        <!--/#main-->
      </div>

      <div id="side">
        <h1>当教室について</h1>
        <ul>
          <li>料理教室は月に1回</li>
          <li>1年コースと半年コースがあります</li>
          <li>開講は年2回、4月と10月です</li>
          <li>午前・午後・夜のクラスがあります</li>
        </ul>
        <p><a href="course.html">詳しくはこちら</a>
        </p>
        <h1>アクセス・所在地</h1> 仙台駅西口から徒歩約10分。 駅近くなので、通いやすい教室です。
        <h2>所在地</h2>
        <p>仙台市青葉区本町2-1-8</p>
        <h1>ご注文・お問い合わせ</h1> ご予約・お問い合わせは、お電話または
        <a href="contact.html">お問い合わせメールフォーム</a>から受け付けています。
        <h2>電話番号</h2>
        <p>022-000-0000
          <br />受付時間/9:00〜21:00</p>
        <!--/#side-->
      </div>
      <!--/#content-->
    </div>
    <!--/#container-->
  </div>

  <%= render 'css_base/chapter10/sample_10_02/footer' %>

  </body>
</div>