<div class="CssBase__Sample_10_02">
  <body>
  <div id="container">

      <%= render 'css_base/chapter10/sample_10_02/header'%>

    <div id="content">
      <div id="main">
        <h1>体験教室</h1>
        <h2>1日体験しませんか？</h2>
        <h3>料理ははじめて、初心者のあなたへ</h3>
        <p>はじめての方を対象とした、体験教室を開催しています。 試しに1日だけ、体験してみませんか？ 料理ははじめて、という方も安心してご参加いただけます。</p>
        <h2>体験コース一覧</h2>
        <div id="lesson-first" class="lesson">
          <h3>お料理はじめて 体験教室</h3>
          <h4>料理経験がほとんどない方でも大丈夫</h4>
          <p><img src=<%= asset_path('css_base/sample_10_02/course01.jpg') %> alt="オムレツセット">
          </p>
          <dl>
            <dt>実習内容</dt>
            <dd>オムレツ・ナポリタン・ターメリックライス・サラダ</dd>
            <dt>参加費</dt>
            <dd>1,000円（材料費込み）</dd>
            <dt>時間</dt>
            <dd>午前9:30〜12:30、午後14:00〜17:00、夜18:00〜21:00
            </dd>
            <dt>定員</dt>
            <dd>各クラス15名</dd>
            <dt>日程</dt>
            <dd>3/1午後、3/5夜、3/15午前、3/22午後、3/28午前、3/30夜
              <br /> 4月以降の開催予定も順次お知らせいたします。
            </dd>
          </dl>
          <p class="btn"><a href="#">申し込みはこちら</a>
          </p>
        </div>
        <div id="lesson-bread" class="lesson">
          <h3>手づくりパン 体験教室</h3>
          <h4>意外とカンタン はじめての手づくりパン</h4>
          <p><img src=<%= asset_path('css_base/sample_10_02/course02.jpg') %> alt="フランスパン">
          </p>
          <dl>
            <dt>実習内容</dt>
            <dd>フランスパン</dd>
            <dt>参加費</dt>
            <dd>1,000円（材料費込み）</dd>
            <dt>時間</dt>
            <dd>午前9:30〜12:30、午後14:00〜17:00、夜18:00〜21:00
            </dd>
            <dt>定員</dt>
            <dd>各クラス15名</dd>
            <dt>日程</dt>
            <dd>3/1午前、3/6夜、3/13午前、3/20午後、3/28午前、3/29夜
              <br /> 4月以降の開催予定も順次お知らせいたします。
            </dd>
          </dl>
          <p class="btn"><a href="#">申し込みはこちら</a>
          </p>
        </div>
        <div class="flow">
          <h3>実習の流れ</h3>
          <ol>
            <li>先生のお手本</li>
            <li>実習</li>
            <li>お食事と後片付け</li>
          </ol>
          1グループ3〜5人で、分担したり、交代したりして実習します。実習中、先生が各テーブルを回って教えます。
          <br /> 料理が完成したら、全員でできたてを食べます。後片付けをしてして、終了です。
        </div>
        <!--/#main-->
      </div>
      <div id="side">
        <h1>当教室について</h1>
        <ul>
          <li>料理教室は月に1回</li>
          <li>1年コースと半年コースがあります</li>
          <li>開講は年2回、4月と10月です</li>
          <li>午前・午後・夜のクラスがあります</li>
        </ul>
        <p><a href="course.html">詳しくはこちら</a>
        </p>
        <h1>アクセス・所在地</h1> 仙台駅西口から徒歩約10分。 駅近くなので、通いやすい教室です。
        <h2>所在地</h2>
        <p>仙台市青葉区本町2-1-8</p>
        <h1>ご注文・お問い合わせ</h1> ご予約・お問い合わせは、お電話または
        <a href="contact.html">お問い合わせメールフォーム</a>から受け付けています。
        <h2>電話番号</h2>
        <p>022-000-0000
          <br />受付時間/9:00〜21:00</p>
        <!--/#side-->
      </div>
      <!--/#content-->
    </div>
    <!--/#container-->
  </div>
  <%= render 'css_base/chapter10/sample_10_02/footer' %>
  </body>
</div>