<span class="next">
  <%= link_to_unless(current_page.first?,
                     t('views.pagination.next').html_safe, url) do |name|
    content_tag(:sapn, name, class: 'disabled')
  end
  %>
</span>