<div class="CssBase__Sample_10_03">
  <body class="body cc-page cc-pagemode-default cc-content-parent" id="page-2062160691">
  <div id="cc-inner" class="cc-content-parent">

    <%= render 'css_base/chapter10/sample_10_03/shared/header' %>

    <div id="content" class="cc-content-parent">
      <div id="main" class="cc-content-parent">
        <div id="content_area" data-container="content"><div id="content_start"></div>

          <div id="cc-matrix-2740229991"><div id="cc-m-10233553091" class="n j-header"><h1 id="cc-m-header-10233553091">お問い合わせ</h1></div><div id="cc-m-10233553191" class="n j-text"><p>
            <span style="line-height: 28.8px;">このページは、ただいま準備中です。</span><br>
          </p></div></div>

        </div> <!--/#main-->
      </div>

      <div id="side">
        <div id="side-content">
          <div data-container="sidebar"><div id="cc-matrix-2740230191"><div id="cc-m-10233552691" class="n j-header"><h1 id="cc-m-header-10233552691">お問い合わせ・ご予約</h1></div><div id="cc-m-10233552491" class="n j-header"><h2 id="cc-m-header-10233552491">初回は電話相談無料！</h2></div><div id="cc-m-10233552791" class="n j-text"><p>
            <span style="font-size: 20px;" data-mce-style="font-size: 20px;"><strong>TEL.022-000-0000</strong></span>
          </p>

            <p>
              受付時間/<br>
              平日 午前10時〜午後8時
            </p>

            <p>
              <a href="../contact/index.html" target="" data-mce-href="../index.htmlお問い合わせ/">お問い合わせフォーム</a>
            </p></div><div id="cc-m-10234598191" class="n j-header"><h1 id="cc-m-header-10234598191">次回セミナーのご案内</h1></div><div id="cc-m-10234598391" class="n j-text"><p>
    <span style="font-size: 18px;" data-mce-style="font-size: 18px;"><strong>第8回<br>
    はじめよう資産運用<br></strong><span style="font-size: 15px;" data-mce-style="font-size: 15px;">4月18日（土）14:00〜<strong><br></strong></span></span>
          </p>

            <p>
              <span style="font-size: 15px;" data-mce-style="font-size: 15px;">初心者大歓迎のセミナーです。当事務所で開催します。</span><span style="font-size: 15px;" data-mce-style="font-size: 15px;">みなさまのご参加お待ちしております。</span>
            </p></div><div id="cc-m-10233552591" class="n j-header"><h1 id="cc-m-header-10233552591">所在地</h1></div><div id="cc-m-10234595691" class="n j-text"><p>
            〒980-0000<br>
            宮城県仙台市青葉区本町0丁目
          </p>

            <p>
              仙台駅西口14番出口より、徒歩10分です。
            </p></div></div></div> <!--/#side_contents-->
        </div>
      </div>
      <!--/#content-->
    </div>

    <%= render 'css_base/chapter10/sample_10_03/shared/footer' %>

  </div>
  <!--/#footer-->

  </body>
</div>