<h1>Editing Rails Tutorial Toy User</h1>

<%= render 'form', rails_tutorial_toy_user: @rails_tutorial_toy_user %>

<%= link_to 'Show', @rails_tutorial_toy_user %> |
<%= link_to 'Back', rails_tutorial_toy_users_path %>
