<div class="CssBase">
  <div class="CssBase__chap07--02-1">
    <h1>7-2：内側の余白を調整する</h1>
    <div class="style-7-2">
      <h1>カスケーディングとは</h1>
      <p>CSSはカスケーディングスタイルシート（Cascading Style Sheets）の頭文字をとってCSSといいます。</p>
      <p>ちなみにカスケードとは「階段上の滝とか小滝」という意味で「段階的に引き継いでいく」っていう意味なんですね。</p>
      <p>スタイルを段階的に引き継いでいく文章、それがCascading Style Sheets＝CSS！</p>
    </div>
  </div>

  <div class="CssBase__chap07--02-2">
    <h1>7-2：内側の余白を調整する</h1>
    <div class="style-7-2-1">
      <h1>カスケーディングとは</h1>
      <p>CSSはカスケーディングスタイルシート（Cascading Style Sheets）の頭文字をとってCSSといいます。</p>
      <p>ちなみにカスケードとは「階段上の滝とか小滝」という意味で「段階的に引き継いでいく」っていう意味なんですね。</p>
      <p>スタイルを段階的に引き継いでいく文章、それがCascading Style Sheets＝CSS！</p>
    </div>
  </div>

  <div class="CssBase__chap07--03">
    <h1>7-3：外側の間隔を調整する</h1>
    <div class="style-7-3-1">
      <img src=<%= asset_path('css_base/park.jpg') %> width="640" height="480" alt="公園の小道の写真"/>
    </div>
    <div class="style-7-3-2">
      <img src=<%= asset_path('css_base/cats.jpg') %> width="640" height="480" alt="たくさんの小さい招き猫の写真">
    </div>
  </div>

  <div class="CssBase__chap07--04">
    <h1>7-4：横幅を指定する</h1>
    <div class="style-7-4">
      <h1>カスケーディングとは</h1>
      <p>CSSはカスケーディングスタイルシート（Cascading Style Sheets）の頭文字をとってCSSといいます。</p>
      <p>ちなみにカスケードとは「階段上の滝とか小滝」という意味で「段階的に引き継いでいく」っていう意味なんですね。</p>
      <p>スタイルを段階的に引き継いでいく文章、それがCascading Style Sheets＝CSS！</p>
    </div>
  </div>

  <div class="CssBase__chap07--05">
    <h1>7-5：高さを指定する</h1>
    <div class="style-7-5">
      <h1>カスケーディングとは</h1>
      <p>CSSはカスケーディングスタイルシート（Cascading Style Sheets）の頭文字をとってCSSといいます。</p>
      <p>ちなみにカスケードとは「階段上の滝とか小滝」という意味で「段階的に引き継いでいく」っていう意味なんですね。</p>
      <p>スタイルを段階的に引き継いでいく文章、それがCascading Style Sheets＝CSS！</p>
    </div>
  </div>

  <div class="CssBase__chap07--06">
    <h1>7-6：画像を回り込ませてみる</h1>
    <p><img src=<%= asset_path('css_base/romanesco.jpg') %> alt="ロマネスコの写真">
    </p>
    <p>先日、伯母から大量の野菜が送られてきました。その中に、ヨーロッパ生まれのカリフラワーの1種の「ロマネスコ」が入っていました。</p>
    <p>ロマネスコはビタミン類だけでなく鉄分や食物繊維も豊富な野菜だそうです。</p>
    <p class="sample-cl">ちなみにこのロマネスコ、くるくるちゃんがひとつひとつバラバラとなります。カリフラワーやブロッコリーと同じように軽く茹でてマヨネーズにつけて食べてみたところ、ほんのり甘くとてもおいしかったです！！</p>
  </div>

  <div class="CssBase__chap07--07">
    <h1>7-7：画像の装飾をつけてみる</h1>
    <p><img src=<%= asset_path('css_base/romanesco.jpg') %> alt="ロマネスコの写真">
    </p>
    <p>先日、伯母から大量の野菜が送られてきました。その中に、ヨーロッパ生まれのカリフラワーの1種の「ロマネスコ」が入っていました。</p>
    <p>ロマネスコはビタミン類だけでなく鉄分や食物繊維も豊富な野菜だそうです。</p>
    <p class="sample-cl">ちなみにこのロマネスコ、くるくるちゃんがひとつひとつバラバラとなります。カリフラワーやブロッコリーと同じように軽く茹でてマヨネーズにつけて食べてみたところ、ほんのり甘くとてもおいしかったです！！</p>
  </div>

  <div class="CssBase__chap07--08-1">
    <h1>7-8：2段組レイアウトをしてみよう</h1>
    <div class="style-7-8 clearfix">
      <div class="style-7-8-1">
        <h2>全角文字と半角文字</h2>
        <p>パソコンやスマートフォンなど機械で入力する文字には「全角文字」と「半角文字」の2種類があります。</p>
        <p>全角文字は日本語が入力できます。<br>
          半角文字はアルファベットや数字だけが使えます。</p>
      </div>
      <div class="style-7-8-2">
        <h2>Webページで使う文字</h2>
        <p>Webページで掲載する文字の中で、アルファベットや数字は「半角文字」を使うほうが望ましいでしょう。<br>
          全角文字で表記してはいけない、というわけではありません。ですが、たとえばURLやメールアドレスなどは半角文字で記載する必要があります。トラブルや混乱を防ぐためにも、アルファベットや数字は半角文字で掲載することをおすすめします。</p>
        <p>ちなみに、カタカナは全角文字と半角文字の両方を入力することができますが、半角のカタカナにすると、意図と異なる表示になることがあります。カタカナを掲載するときは、できるだけ全角文字を使うほうがよいでしょう。</p>
      </div>
    </div>
  </div>

  <div class="CssBase__chap07--08-2">
    <h1>7-8：2段組レイアウトをしてみよう</h1>
    <div class="style-7-8 clearfix">
      <div class="style-7-8-1">
        <h2>全角文字と半角文字</h2>
        <p>パソコンやスマートフォンなど機械で入力する文字には「全角文字」と「半角文字」の2種類があります。</p>
        <p>全角文字は日本語が入力できます。<br>
          半角文字はアルファベットや数字だけが使えます。</p>
      </div>
      <div class="style-7-8-2">
        <h2>Webページで使う文字</h2>
        <p>Webページで掲載する文字の中で、アルファベットや数字は「半角文字」を使うほうが望ましいでしょう。<br>
          全角文字で表記してはいけない、というわけではありません。ですが、たとえばURLやメールアドレスなどは半角文字で記載する必要があります。トラブルや混乱を防ぐためにも、アルファベットや数字は半角文字で掲載することをおすすめします。</p>
        <p>ちなみに、カタカナは全角文字と半角文字の両方を入力することができますが、半角のカタカナにすると、意図と異なる表示になることがあります。カタカナを掲載するときは、できるだけ全角文字を使うほうがよいでしょう。</p>
      </div>
    </div>
  </div>

  <div class="CssBase__chap07--09">
    <h1>7-9：スクロールバーつきのボックスをつくる</h1>
    <div class="style-7-9">
      <h2>カスケーディングとは</h2>
      <p>CSSはカスケーディングスタイルシート（Cascading Style Sheets）の頭文字をとってCSSといいます。</p>
      <p>ちなみにカスケードとは「階段上の滝とか小滝」という意味で「段階的に引き継いでいく」っていう意味なんですね。</p>
      <p>スタイルを段階的に引き継いでいく文章、それがCascading Style Sheets＝CSS！</p>
    </div>
  </div>

  <div class="CssBase__chap07--10">
    <h1>7-10：項目を領域ごと非表示にする </h1>
    <div class="style-7-10-1">
      <h2>カスケーディング</h2>
      <p>Cascading </p>
    </div>
    <div class="style-7-10-2">
      <h2>スタイル</h2>
      <p>Style</p>
    </div>
    <div class="style-7-10-3">
      <h2>シート</h2>
      <p>Sheets</p>
    </div>
  </div>

  <div class="CssBase__chap07--11">
    <h1>7-11：項目を非表示にする</h1>
    <div class="style-7-11-1">
      <h2>カスケーディング</h2>
      <p>Cascading </p>
    </div>
    <div class="style-7-11-2">
      <h2>スタイル</h2>
      <p>Style</p>
    </div>
    <div class="style-7-11-3">
      <h2>シート</h2>
      <p>Sheets</p>
    </div>
  </div>
</div>
